In [26]:
import pandas as pd
import psycopg2


conn = psycopg2.connect(database="demo",user="postgres", password="postgres", host="localhost", port="5432")

cur = conn.cursor()

cur.execute("select * from model_air")

result = cur.fetchall()

df=pd.DataFrame()
for i in result:
    df.loc[len(df), 'val'] = i[0]
    #print((i[0]).split(","))
df

                            val
0  (773,"Boeing 777-300",11100)
1   (763,"Boeing 767-300",7900)
2  (319,"Airbus A319-100",6700)